<p>Dear,</p>
<p>I am writing to remind you of your appointment of the day and time listed below:</p>
<p><b>DATE: </b>{{ date }}</p>
<p><b>TIMESLOT: </b>{{ timeslot }}</p>
<p>Yours sincerely.</p>
<p>KAYAK POOL</p>